@import "../../../styles/colors.scss";
@import "../../../styles/borders.scss";
@import "../../../styles/spacings.scss";
@import "../../../styles/fonts.scss";

.gift {
  display: flex;
  flex-direction: column;
  gap: $space-s;

  .header {
    display: flex;
    align-items: center;

    h4 {
      margin: auto;
      padding: 0 $space-m;
      border-bottom: 2px dotted $colorLightRed;
      display: flex;
      flex-wrap: wrap;
      gap: $space-xs;
      justify-content: center;
      max-width: 230px;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    padding: $space-l 0;
    gap: $space-l;

    h5 {
      display: flex;
      flex-direction: column;
      font-size: $font-size-l;
      text-align: center;

      span {
        font-weight: 400;
        font-size: $font-size-s;
      }
    }

    p {
      color: $colorDarkGray;
      text-align: center;
    }

    label {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
      gap: $space-xs;

      span {
        font-size: $font-size-s;
        color: $colorDarkGray;
      }
    }

    textarea,
    input {
      font-size: $font-size-m;
      font-family: $body-font;

      resize: none;
      padding: $space-s;
      @include borderSmall($colorLightGray);

      &:focus {
        outline: 0;
        @include borderSmall($colorBlue);
      }
    }

    blockquote {
      font-size: $font-size-m;
      font-style: italic;
      margin: auto;
      padding: $space-s $space-xxl;
      line-height: 1.45;
      position: relative;
      color: $colorDarkGray;

      &:before {
        display: block;
        padding-left: $space-m;
        content: "\201C";
        font-size: 80px;
        position: absolute;
        left: -20px;
        top: -20px;
        color: rgba($colorGray, 0.75);
      }

      cite {
        color: rgba($colorGray, 0.75);
        font-size: $font-size-s;
        display: block;
        margin-top: $space-xs;
        padding-left: $space-m;

        &:before {
          content: "\2014 \2009";
        }
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $space-s;
  }

  .claimed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: $space-l;
    color: $colorDarkGray;

    & > div {
      background-color: rgba($colorLightGreen, 0.25);
      margin: $space-m;
      padding: $space-m 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: $space-s;
      width: 100%;
      font-size: $font-size-s;
      white-space: nowrap;
      border-radius: $borderRadiusSmall;

      span {
        white-space: normal;
        font-size: $font-size-l;
        color: $colorGreen;
        font-weight: 700;
        border-bottom: 4px dotted $colorRed;
      }

      span:first-child {
        color: $colorRed;
        border-bottom: 4px dotted $colorGreen;
      }
    }

    div {
      text-align: center;
    }
  }
}
