@import "../../styles/borders.scss";
@import "../../styles/colors.scss";

.avatar {
  display: flex;
  @include borderSmall($colorLightGray);
  border-radius: 100%;

  img {
    border-radius: 100%;
  }
}
