@use "../styles/colors.scss" as *;
@use "../styles/fonts.scss" as *;
@use "../styles/spacings.scss" as *;

.recovery {
  padding-bottom: $space-l;

  h4 {
    font-family: $header-font;
    font-size: clamp(24px, 7vw, 28px);
    font-weight: 400;
    line-height: 1;
    color: $colorLightRed;
    border-bottom: none;
    padding: 0;
    text-wrap: balance;
  }
}

.confirmation {
  text-align: center;

  > button:first-of-type { min-height: 46px; }
}
