@import "../../styles/colors.scss";

.christmas-tree {
  position: fixed;
  bottom: -10%;
  left: 80%;
  z-index: 1;
  opacity: 0.5;
  pointer-events: none;

  @media only screen and (min-width: 1200px) {
    bottom: -20%;
  }

  .tree {
    width: max-content;
    height: 75vh;
    position: relative;

    .t1 {
      position: absolute;
      top: 20%;
      left: 50%;
      margin-left: -100px;
      border-right: 100px solid transparent;
      border-left: 100px solid transparent;
      border-bottom: 100px solid darken($colorLightGreen, 25%);
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      z-index: 2;
    }

    .t2 {
      position: absolute;
      top: 27%;
      left: 50%;
      margin-left: -125px;
      border-right: 125px solid transparent;
      border-left: 125px solid transparent;
      border-bottom: 125px solid darken($colorLightGreen, 30%);
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      z-index: 1;
    }

    .t3 {
      top: 34%;
      left: 50%;
      margin-left: -150px;
      position: absolute;
      border-right: 150px solid transparent;
      border-left: 150px solid transparent;
      border-bottom: 150px solid darken($colorLightGreen, 35%);
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }

    .stem {
      position: absolute;
      top: 53%;
      left: 50%;
      margin-left: -20px;
      width: 40px;
      height: 100px;
      z-index: -1;
      background: darken($colorBrown, 33%);
    }
  }
}
