@import "../../styles/colors.scss";
@import "../../styles/borders.scss";
@import "../../styles/spacings.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $space-s;

  h4 {
    margin: auto;
    padding: 0 $space-m;
    border-bottom: 2px dotted $colorLightRed;
    white-space: nowrap;
  }
}

.add {
  margin-top: $space-s;
}
