@use "../../styles/colors.scss" as *;
@use "../../styles/fonts.scss" as *;
@use "../../styles/spacings.scss" as *;

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $space-l;
  padding-top: $space-s;

  p {
    color: $colorGray;
    text-align: center;
    font-size: $font-size-m;
  }
}
