@import "../styles/colors.scss";
@import "../styles/borders.scss";
@import "../styles/spacings.scss";
@import "../styles/fonts.scss";

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $space-s;
  background-color: rgba($colorLightGray, 0.5);
  outline: 1px solid $colorLightGray;
  cursor: pointer;
  border: none;
  border-radius: $borderRadiusSmall;
  padding: $space-s;
  font-family: $body-font;
  font-size: $font-size-m;
  width: 100%;

  &:focus-visible {
    @include outlineSmall($colorLightRed);
  }
}
