$colorWhite: #ffffff;
$colorOffWhite: #f3f0f3;
$colorBlack: #000000;
$colorLightGray: #e2dee2;
$colorDarkGray: #433f43;
$colorGray: #554e56;
$colorLightRed: #ee6161;
$colorRed: #e94444;
$colorGreen: #46cc8d;
$colorLightGreen: #91deb6;
$colorYellow: #fed402;
$colorLightYellow: #fee45a;
$colorBlue: #60b7ff;
$colorLightBlue: #8ac9fe;
$colorBrown: #dd7f66;
$colorLightBrown: #e49280;
