@import "./spacings.scss";
@import "./colors.scss";
@import "./fonts.scss";

:export {
  /* prettier-ignore */
  headerFont: $header-font;
  spaceSmall: $space-s;
  colorGray: $colorGray;
  colorRed: $colorRed;
  colorGreen: $colorGreen;
}
